.App {
  display: flex;
  flex-direction: column;
  background-color: #0f1130;
  color: rgb(104, 104, 104);
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  height: 1400px;
  width: 100%;
  /* background-image: url(https://media.istockphoto.com/id/1194542294/vector/realistic-3d-cinema-film-strip-in-perspective-isolated-on-blue-background-vector-template.jpg?s=612x612&w=is&k=20&c=OTZ2-LXuSJR_NK3v4Bxsu4HhgJGiQeYRiQB0kh2TGIc=); */
  background-repeat: no-repeat;
  background-size: 82%;
  background-position-y: 80px;
  background-position-x: -80px;
  background-size: 120%;
}
.movie {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgba(10, 9, 9, 0.1);
  overflow: hidden;
  position: relative;
  width: 300px;

  margin: 1rem;
}

.movie-over {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  color: #22254b;
  overflow: auto;
  max-height: 100%;
  padding: 1rem;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-over {
  transform: translateY(0%);
}
* {
  box-sizing: border-box;
}
